@import '../../../colors.scss';
@import '../../../animations.scss';

.customers {
  width: 100%;
  background-color: $purpleLight;
  position: relative;
  height: 350px;
  .row {
    height: 350px;
  }
  h2 {
    margin: 30px auto;
    padding: 0 0 0 30px;
    color: $white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    @media(max-width: 991px) {
      margin: 15px auto;
      padding: 0;
      text-align: center;
    }
    span {
      color: $white;
      text-transform: none;
      margin: 0 0 0 15px;
      @media(max-width: 991px) {
        margin: 0 auto;
        display: block;
      }
    }
  }
  figure {
    max-width: 300px;
    margin: 0 auto;
    @media (max-width: 767px) {
      max-width: 200px;
    }
  }
}