@import '../../../colors.scss';
@import '../../../animations.scss';

.customers {
  min-height: calc(50vh - 22.5px);
  width: 100%;
  background-color: $purpleLight;
  @media(max-width: 991px) {
    min-height: initial;
  }
}