/* White */
$white: #fff;
/* White */

/* Gray */
$grayLight: #FDFBFB;
$gray: #808080;
/* Gray */

/* Black */
$black: #000;
/* Black */

/* Yellow */
$yellow: #FCCC6B;
/* Yellow */

/* Blue */
$blueLight: #13ECFE;
$blue: #7373BF;
/* Blue */

/* Purple */
$purple: #402A78;
$purpleLight: #4E4296;
$purpleDark: #291144;
/* Purple */