@import './colors.scss';

body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

figure {
  margin: 0;
}

.slick-next,
.slick-prev {
  width: 25px;
  height: 25px;
  z-index: 1;
  &::before {
    font-size: 25px;
  }
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
}