@import '../../texts.scss';
@import '../../colors.scss';

.footer {
  background: $purpleDark;
  height: 30px;
  width: 100%;
  p {
    font-family: $ubuntu;
    margin: 0;
    color: $white;
    font-size: 12px;
    line-height: 30px;
  }
}